{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "chrome": "41",
          "ie":     "11"
        }
      }]
    ],
    "plugins": [
      ["@babel/plugin-proposal-object-rest-spread"],
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["@babel/plugin-proposal-class-properties", { "loose": true }],
      ["@babel/plugin-transform-runtime", {
        "helpers":     false,
        "regenerator": true
      }]
    ]
  }
  